*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f5f8;
}
.side-bar{
    
    height: 100vh;
    width: 300px;
    background-color:#ffffff;
}

.side-bar-header{
    display: inline-flex;
    flex-direction: row;
    /* gap: 70px; */
    padding: 10px;
    align-items: center;


}
.btn{
    margin-left:70px;
}
.hide{
    transform: translateX(-300px);
    transition: transform 0.5s;
      
}
.btn1-close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    
    font-size: 20px;
}
/* .side-bar-body{
    display: flex;
    
    flex-direction: column;
    
    
    
} */
.list{
    list-style: none;
    margin-top: 100px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    /* align-items: center; */
    gap: 70px;
}
.btn2-close{
    position: absolute;
    left: 95%;
    top: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    /* background-color: rgba(204, 184, 129, 0.753); */
    font-size: 20px;
}
li:hover{
    /* text-align: center; */
    /* width: 90px; */
    background-color: rgba(255, 255, 255, 0.637);
    width: 90%;
    /* border-radius: 10px; */
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.4s;
}
li{
    font-size: 1.2em;
}